---
{
  "layout" : "default.hbs",
  "categories" : ["main-pages"],
  "fsdId" : "P00x",
  "description" : "<%= initialName %> - Description",
  "bodyClass" : "<%= bodyClassNames %>",
  "pagehead" : {
    "title" : "<%= initialName %>",
    "lang" : "en",
    "meta" : ""
  }
}
---

{{!-- main --}}
<main>
  {{!-- header --}}
  <header></header>
  {{!-- /header --}}
    <h1>Hello World from <%= pageName %></h1>
    {{!-- content --}}{{!-- /content --}}
  {{!-- footer --}}
  <footer></footer>
  {{!-- /footer --}}
</main>
{{!-- /main --}}
